[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-jwt-extended = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
passlib = "*"
mysqlclient = "*"
thisdayinmusic = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-runner = "*"
pytest-flask = "*"
pytest-factoryboy = "*"
factory-boy = "*"

[requires]
python_version = "3.6"
